<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auth</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1 class="MiApp">MiApp</h1>
    <div class="form signup">
        <form class="signup" action="signup" method="post">
            <h2 class="text-section">Create an Account</h2>
            <label for="email">Enter your email to sign up for this app</label>
            <br>
            <input type="email" id="email" name="email" placeholder="email@domain.com">
            <br>
            <button class="signup-button" type="submit">Sign up with email</button>
            <br>
            <div>
                <span class="separator-line"></span>
            <h2>or continue with</h2>
            <span class="separator-line"></span>
            </div>
            <div class="social-login-wrapper">
                <div class="social-login-component" role="group" aria-label="social media login buttons">
                    <button class="provider" type="button" class="social-login-provider">
                        <img class="social-login-logo" src="" alt="">
                        <div class="social-login-provider name" aria-label="Login with Google">Google</div>
                    </button>
                </div>
            </div>
            <p>By clicking continue, you agree to our Terms of Service and Privacy Policy</p>
        </form>
    </div>
</body>
</html>