<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bannerArticle</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="text">
        <h1>Nuestros ingredientes</h1>
        <p>Subheading that sets up context, shares info about the author, or generally gets people psyched to keep reading</p>
        </div>
        <div class="image-section">
            <img src="/assets/images/banner.png" alt="Ingredients">
        </div>
    </div>
</body>
</html>