<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
</body>
<footer>
    <div class="contacts">
        <h1 class="list">Contactos</h1>
            <ul class="mylist">
                <li>
                    <img class="image" src="/assets/images/helena.png" alt="picture">
                    <p>Helena
                        email@figmasfakedomain.net</p>
                </li>
                <li>
                    <img class="image" src="/assets/images/oscar.png" alt="picture">
                    <p>Oscar
                    email@figmasfakedomain.net</p>
                </li>
                <li>
                    <img class="image" src="/assets/images/daniel.png" alt="picture">
                    <p>Daniel
                    email@figmasfakedomain.net</p>
                </li>
                <li>
                    <img class="image" src="/assets/images/jay.png" alt="picture">
                    <p>Daniel Jay Park
                    email@figmasfakedomain.net</p>
                </li>
                <li>
                    <img class="image" src="/assets/images/mark.png" alt="picture">
                    <p>Mark Rojas
                    email@figmasfakedomain.net</p>
                </li>
            </ul>
        </div>
    </footer>
</html>