<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="contacts">
        <h1 class="list">Contactos</h1>
        <ul class="mylist">
            <li><img class="image" src="/assets/images/helena.png" alt="picture"> <div class="personas">Helena<div>email@figmasfakedomain.net</div></div></li>
            <li><img class="image" src="/assets/images/oscar.png" alt="picture"><div class="personas">Oscar<div>email@figmasfakedomain.net</div></div></li></li>
            <li><img class="image" src="/assets/images/daniel.png" alt="picture"><div class="personas">Daniel<div>email@figmasfakedomain.net</div></div></li>
            <li><img class="image" src="/assets/images/jay.png" alt="picture"><div class="personas">Daniel Jay Park<div>email@figmasfakedomain.net</div></div></li>
            <li><img class="image" src="/assets/images/mark.png" alt="picture"><div class="personas">Mark Rojas<div>email@figmasfakedomain.net</div></div></li>
        </ul>
    </div>
</body>
</html>