<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contactos</h1>
    <ul>
        <li>Helena - email@figmasfakedonitt.net</li>
        <li>Oscar - emailigmaslakedomain.net</li>
        <li>Daniel - email@figmasfakedomain.net</li>
        <li>Daniel Jay Park - emall@figmasfakedomain.net</li>
        <li>Mark Rojas - amalgfigmastakastonmain.net</li>
    </ul>
</body>
</html>