<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="post">
        <img src="" alt="Helena">
        <h2>Helena in Group name</h2>
        <p>Post description</p>
        <div class="likes-comments">
        <p>2 likes  5 comments</p>
        </div>
    </div>
    <div class="post">
        <img src="" alt="Daniel">
        <h2>Daniel on Group name</h2>
        <p>Post description</p>
        <div class="likes-comments">
        <p>214 comments</p>
        </div>
    </div>
    <div class="post">
        <img src="" alt="Oscar">
        <h2>Helena in Group name</h2>
        <p>Post description</p>
        <div class="likes-comments">
        <p>2 likes  5 comments</p>
        </div>
    </div>
</body>
</html>